/* line 2, ../sass/cv.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/cv.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/cv.scss */
#bug-fix {
  background: url("/images/background/christmas-2942305_1280.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/* line 18, ../sass/cv.scss */
.container {
  width: 90%;
}

/* line 23, ../sass/cv.scss */
.logo {
  width: 60px;
  height: 60px;
  margin-left: -15px;
}

/* line 30, ../sass/cv.scss */
.navbar {
  margin-bottom: 20px;
}

/* line 35, ../sass/cv.scss */
#initials {
  color: white;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.05em;
}

/* line 45, ../sass/cv.scss */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* line 48, ../sass/cv.scss */
.bg-dark {
  background-color: black !important;
}

/* line 52, ../sass/cv.scss */
.navbar-toggler {
  font-size: 1rem;
  margin-right: 15px;
}

/* line 56, ../sass/cv.scss */
.navbar-dark .navbar-toggler {
  border: 2px dotted goldenrod;
}

/* line 59, ../sass/cv.scss */
button:focus {
  outline: none;
}

/* line 62, ../sass/cv.scss */
.navbar {
  padding: .5rem 0;
}

/* line 66, ../sass/cv.scss */
.navbar-nav {
  text-align: center;
}

/* line 70, ../sass/cv.scss */
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* line 78, ../sass/cv.scss */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* line 81, ../sass/cv.scss */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* line 85, ../sass/cv.scss */
.carousel {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 90, ../sass/cv.scss */
.carousel img {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 102, ../sass/cv.scss */
.skill p, .portfolio p {
  color: white;
  font-size: 1em;
}
/* line 106, ../sass/cv.scss */
.skill h3, .portfolio h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
}

/* line 117, ../sass/cv.scss */
.portfolio {
  margin-left: 5%;
  margin-right: 5%;
}
/* line 121, ../sass/cv.scss */
.portfolio h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
}

/* line 132, ../sass/cv.scss */
.first {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
}
/* line 137, ../sass/cv.scss */
.first p {
  text-shadow: 1px 1px 2px #000000;
}

/* line 141, ../sass/cv.scss */
.second {
  border-bottom: 1px solid lightgray;
}
/* line 144, ../sass/cv.scss */
.second p {
  text-shadow: 1px 1px 2px #000000;
}

/* line 148, ../sass/cv.scss */
.lines {
  color: goldenrod;
  font-weight: 600;
}

/* line 156, ../sass/cv.scss */
#contact {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
/* line 163, ../sass/cv.scss */
#contact h2 {
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 173, ../sass/cv.scss */
#copy {
  position: relative;
  bottom: 0;
  background: white;
  padding: 5px 5px;
  text-align: center;
  color: darkgray;
}
/* line 180, ../sass/cv.scss */
#copy p {
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: 600;
}

/* line 186, ../sass/cv.scss */
.card-deck {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
}
/* line 193, ../sass/cv.scss */
.card-deck .card {
  border: none;
  width: 250px;
}

/* line 200, ../sass/cv.scss */
.card-img-top {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 205, ../sass/cv.scss */
.card-body {
  display: none;
}

/* line 209, ../sass/cv.scss */
h4 {
  font-size: 1em;
}

/* line 213, ../sass/cv.scss */
.image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* line 218, ../sass/cv.scss */
.card {
  margin: 10px;
  width: 150px;
  background-color: black;
}

/* line 226, ../sass/cv.scss */
.sites {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 232, ../sass/cv.scss */
.sites h3 {
  margin-left: 5%;
  font-family: 'Quattrocento', serif;
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
/* line 241, ../sass/cv.scss */
.sites p {
  margin-left: 5%;
  font-family: 'Quattrocento', serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-size: 1.2em;
}
/* line 249, ../sass/cv.scss */
.sites .port-images .mob {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 255, ../sass/cv.scss */
.sites .port-images .desk {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 264, ../sass/cv.scss */
#target {
  font-weight: 600;
  margin-top: 30px;
  color: white;
  text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000;
  text-align: center;
  font-size: 1.1em;
}

/* line 278, ../sass/cv.scss */
.phototext {
  display: flex;
  justify-content: center;
}
/* line 281, ../sass/cv.scss */
.phototext li {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000;
  list-style-type: square;
}

/* line 289, ../sass/cv.scss */
.me {
  width: 300px;
}
/* line 292, ../sass/cv.scss */
.me img {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 299, ../sass/cv.scss */
#about h3 {
  font-family: 'Quattrocento', serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

/*
       html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
*/
/* line 321, ../sass/cv.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 327, ../sass/cv.scss */
.about-cont {
  padding-bottom: 160px;
  /* Height of the footer */
}

/* line 331, ../sass/cv.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  /* Height of the footer */
}

/* line 342, ../sass/cv.scss */
.row {
  justify-content: center;
}

/* line 345, ../sass/cv.scss */
#form_container {
  margin-left: auto;
  margin-right: auto;
}

/* line 350, ../sass/cv.scss */
.form-control:focus, input[type="text"]:focus, input[type="email"]:focus {
  border-color: goldenrod;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px goldenrod;
  outline: 0 none;
}

/* line 356, ../sass/cv.scss */
label {
  font-weight: 600;
}

/* line 360, ../sass/cv.scss */
.submit-contact {
  margin-bottom: 30px;
}

/* line 364, ../sass/cv.scss */
.contact-button:hover {
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  background-color: goldenrod !important;
  border-color: white !important;
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  outline: 0 none !important;
}

/* line 371, ../sass/cv.scss */
.contact-button:active {
  background-color: gray !important;
  border-color: white !important;
}

/* line 376, ../sass/cv.scss */
.contact-button:focus {
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  outline: 0 none !important;
  background-color: goldenrod;
}

/* line 382, ../sass/cv.scss */
.contact-button {
  background-color: goldenrod;
  border-color: gold;
  color: white;
}

/* line 389, ../sass/cv.scss */
.contact-form .contact-button {
  padding: .375rem .99rem;
}

/* line 395, ../sass/cv.scss */
#form_container h3 {
  font-family: 'Quattrocento', serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 0.05em;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}
/* line 406, ../sass/cv.scss */
#form_container p {
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 4px #000000, 1px 1px 4px #000000;
}

@media (min-width: 400px) {
  /* line 415, ../sass/cv.scss */
  .me {
    width: 250px;
  }

  /* line 419, ../sass/cv.scss */
  #about li {
    font-size: 1.2em;
  }
  /* line 422, ../sass/cv.scss */
  #about h3 {
    font-size: 1.6em;
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) {
  /* line 431, ../sass/cv.scss */
  .container {
    width: 70%;
  }

  /* line 435, ../sass/cv.scss */
  .card-deck {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 439, ../sass/cv.scss */
  .sites {
    width: 80%;
  }
  /* line 441, ../sass/cv.scss */
  .sites .port-images {
    display: flex;
  }
  /* line 443, ../sass/cv.scss */
  .sites .port-images .desk {
    margin-right: 0;
  }

  /* line 450, ../sass/cv.scss */
  .bookmarks, .bookcover {
    width: 187px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 457, ../sass/cv.scss */
  #about h3 {
    font-size: 1.8em;
  }

  /* line 461, ../sass/cv.scss */
  .me {
    width: 250px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 471, ../sass/cv.scss */
  #about h3 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  /* line 476, ../sass/cv.scss */
  .me {
    margin-right: 40px;
  }

  /* line 481, ../sass/cv.scss */
  form {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 485, ../sass/cv.scss */
  .btn-primary {
    margin-left: 10%;
  }

  /* line 489, ../sass/cv.scss */
  #contact-form h3 {
    font-size: 2.4em;
  }
}
@media (min-width: 800px) {
  /* line 497, ../sass/cv.scss */
  .skill {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 502, ../sass/cv.scss */
  .skill h3 {
    font-size: 1.5em;
  }

  /* line 506, ../sass/cv.scss */
  .portfolio {
    margin-left: auto;
    margin-right: auto;
  }
  /* line 507, ../sass/cv.scss */
  .portfolio h3 {
    font-size: 1.5em;
  }

  /* line 513, ../sass/cv.scss */
  .card-deck {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 519, ../sass/cv.scss */
  .phototext ul {
    width: 200px;
  }
}
@media (min-width: 980px) {
  /* line 529, ../sass/cv.scss */
  #navbarNav {
    justify-content: flex-end;
  }

  /* line 532, ../sass/cv.scss */
  .navbar-nav {
    margin-right: 10px;
  }

  /* line 536, ../sass/cv.scss */
  .carousel {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 540, ../sass/cv.scss */
  .sites {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 545, ../sass/cv.scss */
  .card-deck {
    width: 777px;
  }

  /* line 548, ../sass/cv.scss */
  .sites {
    width: 60%;
  }

  /* line 551, ../sass/cv.scss */
  .navbar-nav {
    margin-right: 20px;
  }

  /* line 555, ../sass/cv.scss */
  form {
    margin-left: 22%;
    margin-right: 22%;
  }

  /* line 559, ../sass/cv.scss */
  .btn-primary {
    margin-left: 22%;
  }
}
@media (min-width: 1280px) {
  /* line 565, ../sass/cv.scss */
  .carousel {
    margin-left: 13%;
    margin-right: 13%;
  }

  /* line 571, ../sass/cv.scss */
  #about li {
    font-size: 1.3em;
  }

  /* line 576, ../sass/cv.scss */
  .skill p {
    font-size: 1.1em;
    padding: 1.1em 0;
  }

  /* line 582, ../sass/cv.scss */
  .card-deck .card {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* line 588, ../sass/cv.scss */
  .two {
    margin-top: 40px;
  }

  /* line 592, ../sass/cv.scss */
  form {
    margin-left: 25%;
    margin-right: 25%;
  }

  /* line 596, ../sass/cv.scss */
  .btn-primary {
    margin-left: 25%;
  }

  /* line 600, ../sass/cv.scss */
  #contact-form h3 {
    font-size: 3em;
  }

  /* line 605, ../sass/cv.scss */
  #target {
    font-size: 1.3em;
  }
  /* line 607, ../sass/cv.scss */
  #target p {
    padding: 0 100px;
    font-size: 1.05em;
  }
}
@media (min-width: 1920px) {
  /* line 615, ../sass/cv.scss */
  form {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* line 620, ../sass/cv.scss */
  .btn-primary {
    margin-left: 20%;
  }

  /* line 623, ../sass/cv.scss */
  #contact-form {
    margin-top: 60px;
  }
}
