/* line 2, ../sass/cv.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/cv.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/cv.scss */
#bug-fix {
  background: url("/images/background/christmas-2942305_1280.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  bottom: 55px;
}

/* line 20, ../sass/cv.scss */
.container {
  width: 90%;
}

/* line 25, ../sass/cv.scss */
.logo {
  width: 60px;
  height: 60px;
  margin-left: -15px;
}

/* line 33, ../sass/cv.scss */
#initials {
  color: white;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.05em;
}

/* line 43, ../sass/cv.scss */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* line 46, ../sass/cv.scss */
.bg-dark {
  background-color: black !important;
}

/* line 50, ../sass/cv.scss */
.navbar-toggler {
  font-size: 1rem;
  margin-right: 15px;
}

/* line 54, ../sass/cv.scss */
.navbar-dark .navbar-toggler {
  border: 2px dotted goldenrod;
}

/* line 57, ../sass/cv.scss */
button:focus {
  outline: none;
}

/* line 60, ../sass/cv.scss */
.navbar {
  padding: .5rem 0;
}

/* line 64, ../sass/cv.scss */
.navbar-nav {
  text-align: center;
}

/* line 68, ../sass/cv.scss */
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* line 76, ../sass/cv.scss */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* line 79, ../sass/cv.scss */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* line 83, ../sass/cv.scss */
.carousel {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 88, ../sass/cv.scss */
.carousel img {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 100, ../sass/cv.scss */
.skill p, .portfolio p {
  color: white;
  font-size: 1em;
}
/* line 104, ../sass/cv.scss */
.skill h3, .portfolio h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
}

/* line 115, ../sass/cv.scss */
.portfolio {
  margin-left: 5%;
  margin-right: 5%;
}
/* line 119, ../sass/cv.scss */
.portfolio h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
}

/* line 130, ../sass/cv.scss */
.first {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
}
/* line 135, ../sass/cv.scss */
.first p {
  text-shadow: 1px 1px 2px #000000;
}

/* line 139, ../sass/cv.scss */
.second {
  border-bottom: 1px solid lightgray;
}
/* line 142, ../sass/cv.scss */
.second p {
  text-shadow: 1px 1px 2px #000000;
}

/* line 146, ../sass/cv.scss */
.lines {
  color: goldenrod;
  font-weight: 600;
}

/* line 154, ../sass/cv.scss */
#contact {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
/* line 161, ../sass/cv.scss */
#contact h2 {
  font-family: 'Quattrocento', serif;
  margin-top: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 171, ../sass/cv.scss */
#copy {
  position: relative;
  bottom: 0;
  background: white;
  padding: 5px 5px;
  text-align: center;
  color: darkgray;
}
/* line 178, ../sass/cv.scss */
#copy p {
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: 600;
}

/* line 184, ../sass/cv.scss */
.card-deck {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
}
/* line 191, ../sass/cv.scss */
.card-deck .card {
  border: none;
  width: 250px;
}

/* line 198, ../sass/cv.scss */
.card-img-top {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 203, ../sass/cv.scss */
.card-body {
  display: none;
}

/* line 207, ../sass/cv.scss */
h4 {
  font-size: 1em;
}

/* line 211, ../sass/cv.scss */
.image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* line 216, ../sass/cv.scss */
.card {
  margin: 10px;
  width: 150px;
  background-color: black;
}

/* line 224, ../sass/cv.scss */
.sites {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 230, ../sass/cv.scss */
.sites h3 {
  margin-left: 5%;
  font-family: 'Quattrocento', serif;
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
/* line 239, ../sass/cv.scss */
.sites p {
  margin-left: 5%;
  font-family: 'Quattrocento', serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-size: 1.2em;
}
/* line 247, ../sass/cv.scss */
.sites .port-images .mob {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 253, ../sass/cv.scss */
.sites .port-images .desk {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 262, ../sass/cv.scss */
#target {
  font-weight: 600;
  margin-top: 30px;
  color: white;
  text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000;
  text-align: center;
  font-size: 1.1em;
}

/* line 276, ../sass/cv.scss */
.phototext {
  display: flex;
  justify-content: center;
}
/* line 279, ../sass/cv.scss */
.phototext li {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000;
  list-style-type: square;
}

/* line 287, ../sass/cv.scss */
.me {
  width: 300px;
}
/* line 290, ../sass/cv.scss */
.me img {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 297, ../sass/cv.scss */
#about h3 {
  font-family: 'Quattrocento', serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

/*
       html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
*/
/* line 319, ../sass/cv.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 325, ../sass/cv.scss */
.about-cont {
  padding-bottom: 160px;
  /* Height of the footer */
}

/* line 329, ../sass/cv.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  /* Height of the footer */
}

/* line 340, ../sass/cv.scss */
.row {
  justify-content: center;
}

/* line 343, ../sass/cv.scss */
#form_container {
  margin-left: auto;
  margin-right: auto;
}

/* line 348, ../sass/cv.scss */
.form-control:focus, input[type="text"]:focus, input[type="email"]:focus {
  border-color: goldenrod;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px goldenrod;
  outline: 0 none;
}

/* line 354, ../sass/cv.scss */
label {
  font-weight: 600;
}

/* line 358, ../sass/cv.scss */
.submit-contact {
  margin-bottom: 30px;
}

/* line 362, ../sass/cv.scss */
.contact-button:hover {
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  background-color: goldenrod !important;
  border-color: white !important;
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  outline: 0 none !important;
}

/* line 369, ../sass/cv.scss */
.contact-button:active {
  background-color: gray !important;
  border-color: white !important;
}

/* line 374, ../sass/cv.scss */
.contact-button:focus {
  box-shadow: 0 1px 1px white inset, 0 0 8px white !important;
  outline: 0 none !important;
  background-color: goldenrod;
}

/* line 380, ../sass/cv.scss */
.contact-button {
  background-color: goldenrod;
  border-color: gold;
  color: white;
}

/* line 387, ../sass/cv.scss */
.contact-form .contact-button {
  padding: .375rem .99rem;
}

/* line 393, ../sass/cv.scss */
#form_container h3 {
  font-family: 'Quattrocento', serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 0.05em;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}
/* line 404, ../sass/cv.scss */
#form_container p {
  color: white;
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 4px #000000, 1px 1px 4px #000000;
}

@media (min-width: 400px) {
  /* line 413, ../sass/cv.scss */
  .me {
    width: 250px;
  }

  /* line 417, ../sass/cv.scss */
  #about li {
    font-size: 1.2em;
  }
  /* line 420, ../sass/cv.scss */
  #about h3 {
    font-size: 1.6em;
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) {
  /* line 429, ../sass/cv.scss */
  .container {
    width: 70%;
  }

  /* line 433, ../sass/cv.scss */
  .card-deck {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 437, ../sass/cv.scss */
  .sites {
    width: 80%;
  }
  /* line 439, ../sass/cv.scss */
  .sites .port-images {
    display: flex;
  }
  /* line 441, ../sass/cv.scss */
  .sites .port-images .desk {
    margin-right: 0;
  }

  /* line 448, ../sass/cv.scss */
  .bookmarks, .bookcover {
    width: 187px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 455, ../sass/cv.scss */
  #about h3 {
    font-size: 1.8em;
  }

  /* line 459, ../sass/cv.scss */
  .me {
    width: 250px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 469, ../sass/cv.scss */
  #about h3 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  /* line 474, ../sass/cv.scss */
  .me {
    margin-right: 40px;
  }

  /* line 479, ../sass/cv.scss */
  form {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 483, ../sass/cv.scss */
  .btn-primary {
    margin-left: 10%;
  }

  /* line 487, ../sass/cv.scss */
  #contact-form h3 {
    font-size: 2.4em;
  }
}
@media (min-width: 800px) {
  /* line 495, ../sass/cv.scss */
  .skill {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 500, ../sass/cv.scss */
  .skill h3 {
    font-size: 1.5em;
  }

  /* line 504, ../sass/cv.scss */
  .portfolio {
    margin-left: auto;
    margin-right: auto;
  }
  /* line 505, ../sass/cv.scss */
  .portfolio h3 {
    font-size: 1.5em;
  }

  /* line 511, ../sass/cv.scss */
  .card-deck {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 517, ../sass/cv.scss */
  .phototext ul {
    width: 200px;
  }
}
@media (min-width: 980px) {
  /* line 527, ../sass/cv.scss */
  #navbarNav {
    justify-content: flex-end;
  }

  /* line 530, ../sass/cv.scss */
  .navbar-nav {
    margin-right: 10px;
  }

  /* line 534, ../sass/cv.scss */
  .carousel {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 538, ../sass/cv.scss */
  .sites {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 543, ../sass/cv.scss */
  .card-deck {
    width: 777px;
  }

  /* line 546, ../sass/cv.scss */
  .sites {
    width: 60%;
  }

  /* line 549, ../sass/cv.scss */
  .navbar-nav {
    margin-right: 20px;
  }

  /* line 553, ../sass/cv.scss */
  form {
    margin-left: 22%;
    margin-right: 22%;
  }

  /* line 557, ../sass/cv.scss */
  .btn-primary {
    margin-left: 22%;
  }
}
@media (min-width: 1280px) {
  /* line 563, ../sass/cv.scss */
  .carousel {
    margin-left: 13%;
    margin-right: 13%;
  }

  /* line 569, ../sass/cv.scss */
  #about li {
    font-size: 1.3em;
  }

  /* line 574, ../sass/cv.scss */
  .skill p {
    font-size: 1.1em;
    padding: 1.1em 0;
  }

  /* line 580, ../sass/cv.scss */
  .card-deck .card {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* line 586, ../sass/cv.scss */
  .two {
    margin-top: 40px;
  }

  /* line 590, ../sass/cv.scss */
  form {
    margin-left: 25%;
    margin-right: 25%;
  }

  /* line 594, ../sass/cv.scss */
  .btn-primary {
    margin-left: 25%;
  }

  /* line 598, ../sass/cv.scss */
  #contact-form h3 {
    font-size: 3em;
  }

  /* line 603, ../sass/cv.scss */
  #target {
    font-size: 1.3em;
  }
  /* line 605, ../sass/cv.scss */
  #target p {
    padding: 0 100px;
    font-size: 1.05em;
  }
}
@media (min-width: 1920px) {
  /* line 613, ../sass/cv.scss */
  form {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* line 618, ../sass/cv.scss */
  .btn-primary {
    margin-left: 20%;
  }

  /* line 621, ../sass/cv.scss */
  #contact-form {
    margin-top: 60px;
  }
}
